<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <h2 class="navbar-brand">Wikinimous</h2>
      <%= link_to 'Add a new article', new_article_path, class: 'btn btn-primary' %>
    </nav>
    <br>
    <%= yield %>
  </body>
</html>
